{% extends "base.html" %}
{% block title %}用户条款{% endblock %}
{% block content %}
    <div class="container">
		<div class="row">
			<p>尊敬的用户：</p>
			<p>以下内容等待替换</p>

欢迎您在旅法师营地（以下简称“营地”）进行原创投稿，在投稿之前，请务必仔细阅读以下条款：

1.投稿人向营地所投稿件应为原创作品或原创翻译作品，禁止抄袭、洗稿、一稿多投。经查证属于上述情形的，营地有权退回稿件、拒付相应稿费，并拒收相关责任人的所有后续稿件。

2.稿件内容应符合国家相关法律规定，如内容涉及敏感或不宜话题，营地有权将稿件退回。所投稿件的内容仅代表投稿人的个人观点，营地不对其真实性、完整性和实效性做出任何担保。稿件内容所引发的一切法律问题，由投稿人自行承担。

3.稿件如被采用，营地会依据稿件质量向投稿人发放金额不等的稿酬。投稿人可在投稿平台的相应模块自行申请支取稿酬，所支取的稿酬将在申请发起后的七个工作日内发放到投稿人所提供的支付宝账户。营地将依据国家税法规定，为投稿人代为申报个人所得税。如投稿人当月累计支取超过800元人民币，营地将对超出的部分扣除20%用以代缴个人所得税。请投稿人务必在投稿平台填写真实的姓名、手机号、身份证号、支付宝账号等个人信息。如因所提供的信息有误导致纳税申报失败，或者稿酬无法及时到账，一切后果由投稿人自行承担。

4.被采用的稿件，营地可依据需要，在任何时间于任何自有平台或渠道发表（包括但不限于手机APP，网站，新浪微博，微信公众号，哔哩哔哩，今日头条），任何人（包括原作者或译者）在非旅法师营地平台发表该稿件应注明转载自旅法师营地。

5.如对上述条款有任何疑问，请将问题以电子邮件的方式发送到feedback@iyingdi.com

  		</div>
  		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<a href="{{ url_for('register') }}">返回</a>
			</div>
  		</div>

	</div>
{% endblock %}