<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
	<link rel="stylesheet" href={{ url_for('static', filename='include/bootstrap.min.css') }}>
	<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body>
    {% if message %}
        <h1>{{ message }}</h1>
	{% endif %}
	<div class="container" >
		<div class="row">
			<div class="col-md-6">
				<h1>标题</h1>
				<h4>小标题</h4>
			</div>
{#			<a id="log_a" href="login.html" style="display: none;">login</a>#}
{#			<a id="reg_a" href="register.html" style="display: none;">register</a>#}
			<div class="col-md-3">
                <a href={{ url_for('login') }}>
                    <img id="login" src={{ url_for('static', filename='images/log.png') }}>
                </a>
			</div>
			<div class="col-md-3">
                <a href={{ url_for('login') }}>
                    <img id="register" src={{ url_for('static', filename='images/reg.png') }}>
                </a>
			</div>
		</div>
	</div>

	<img src={{ url_for('static', filename='images/longimage.png') }}>

	<footer>
		<div class="row" style="padding-top: 60px; clear: both;">
			<div class="col-md-12 text-center"><p><small>&copy; Copyright DAM </small></p></div>
		</div>
		</footer>
	<script src={{ url_for('static', filename='include/jquery.min.js') }}></script>
	<script src={{ url_for('static', filename='include/bootstrap.min.js') }}></script>
 
</body>
</html>
